@{
	ViewData["Title"] = "Mockups";
}

<div class="text-left">
    <h1 class="display-4">Multi-staged forms</h1>
    <ul>
        <li><a asp-controller="Mockups" asp-action="PasswordReset">Password Reset</a></li>
        <li><a asp-controller="Mockups" asp-action="SignUp">Sign up</a></li>
    </ul>
</div>