@{
	ViewData["Title"] = "Reset your password";
}

<div class="text-left">
    <h1 class="display-4">Reset your password</h1>
	@using (Html.BeginForm())
	{
		<p>
			<b>Code</b><br />
			@Html.TextBox("Code")
		</p>	
		<input type="submit" value="Verify" />
	}
</div>