@{
	ViewData["Title"] = "Reset your password";
}

<div class="text-left">
    <h1 class="display-4">Reset your password</h1>
	@using (Html.BeginForm())
	{
		<p>
			<b>Email</b><br />
			@Html.TextBox("Email")
		</p>	
		<input type="submit" value="Send me a code" />
		<input type="submit" value="I have a code" />
	}
</div>